<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Dashing Penguin</string>
	<key>TotalCoins</key>
	<integer>0</integer>
	<key>isMusicOn</key>
	<true/>
	<key>isSoundOn</key>
	<true/>
</dict>
</plist>
